/* cabeçalho */

body {

    background-color:  #ecebee;
    margin: 0;

}

header{
    background-color: white;
    height: 200px;
    position: relative;
    opacity: 0;
    animation: slideIn 2.0s
  
}
@keyframes slideIn {
    to {
        opacity: 1 ;
    }   
}
.logo {
    align-items: center;
    display: flex;
    width: 800px;
    height: 200px;
    padding-left: 600px;
}

header img{
    border: none;
    width: 40%;
    display: block;
    margin-bottom: 20px;
    margin-left: 90px;
}
/*banner */

.banner{
    width: 5000px;
    overflow: hidden;
}

img-banner{
    width: 5000px; /* Faz a imagem ocupar 100% da largura do contêiner */
      height: auto; /* Mantém a proporção da imagem */
      display: block;
}


   

/* paragrafo*/
.container{
   

    
}
.img-paragrafo{
    width: 100%;
    height: auto;
    margin-left: 1050px;
}
imgP{
  max-width: 100%;
  height: auto;
}

.paragrafo1{
 text-align: left;
 margin: 200px 0px 80px 300px;
 font-size: 25px;
 font-weight: 800;
 color: #996b42;
}

.titulo2{
    text-align: left;
    margin: 0px 0px 80px 300px;
    font-size: 30px;
    font-weight: 400;
    color: #643c23;
}

.paragrafo2{
    text-align: left;
    width: 600px;
    margin: 0px 0px 70px 300px;
    font-size: 25px;
    word-spacing: 10px;
    color: #996b42;

}
@media (max-width: 600px){
    .container {
        flex-direction: column; /* Alinha verticalmente em telas menores */
        align-items: center;
      }
}
    



/*rodape*/

.footer{
    background-color: #57261c;
    position: relative;
    margin-top: 20%;
    height: 350px;
    
    
}

.footer-content{
    color: white;
    padding-top: 15%;
    margin-left: 700px;
}

.footer-titulo{
    color: white;
   text-align: center;
  margin-top: -250px;
    
}