/* cabeçalho */
body {
    background-color: #ecebee;
    margin: 0;
    font-family: 'EB Garamond', serif;
  }
  
  header {
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  header img {
    border: none;
    width: 40%;
    max-width: 300px;
  }
  
  /* banner */
  .banner {
    width: 100%;
    overflow: hidden;
  }
  
  .banner img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* parágrafo */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
    
  }
  
  .content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .text-content {
    flex: 1;

  }
  
  .img-paragrafo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-paragrafo img {
    max-width: 100%;
    height: auto;
  }
  
  .titulo2, .paragrafo2 {
    text-align: left;
    color: #643c23;
  }
  
  .titulo2 h2 {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 400;
  }
  
  .paragrafo2 p {
    margin: 20px 0;
    font-size: 20px;
    word-spacing: 3px;
    color: #996b42;
  }
  
  /* rodapé */
  .footer {
    background-color: #643c23;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer-content {
    margin-bottom: 20px;
  }
  
  .footer-titulo h2 {
    font-weight: 100;
    margin: 0;
  }
  .whatsapp-link{
    font-weight: 300;
    color: #ecebee;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    .logo img {
      width: 70%;
    }
  
    .content {
      flex-direction: column;
    }
  
    .titulo2 h2 {
      font-size: 25px;
    }
  
    .paragrafo2 p {
      font-size: 18px;
    }
  }
  